<!DOCTYPE html>

<html>
  <head>
    <title>URL Shortener Microservice</title>
    <link
      rel="icon"
      type="image/png"
      href="https://cdn.freecodecamp.org/universal/favicons/favicon-16x16.png"
    />
    <link href="/public/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <h1>URL Shortener Microservice</h1>
    <main>
      <section>
        <form action="api/shorturl" method="POST">
          <fieldset>
            <legend>URL Shortener</legend>
            <label for="url_input">URL:</label>
            <input
              id="url_input"
              type="text"
              name="url"
              placeholder="https://github.com/kTrzcinskii"
            />
            <input type="submit" value="POST URL" />
          </fieldset>
        </form>
      </section>
    </main>
    <section class="instructions">
      <p>
        <span>GET</span> -
        <a href="/api/shorturl" target="_blank">/api/shorturl</a> - see the list
        of all short urls in the database.
      </p>
      <p>
        <span>POST</span> - /api/shorturl - add new link to the database (use
        the form above).
      </p>
      <p>
        <span>GET</span> -
        <a href="/api/shorturl/1" target="_blank">/api/shorturl/short_url</a> -
        get redirected to the page saved in database.
      </p>
    </section>
    <footer>
      <p>
        By
        <a href="https://github.com/kTrzcinskii" target="_blank"
          >Kacper Trzciński</a
        >
      </p>
    </footer>
  </body>
</html>
